# Ignore Hitachi/Sega files
code/Hitachi/*
code/Include/*

# Ignore compilation output
code/*.bin
code/*.dis
code/*.elf
code/*.obj
code/*.src
code/dc_sdk
code/link.sub

code/Ninja
code/shinobi

# Ignore game binary
1ST_READ.BIN
